<header>
	<div class="page">
		<h1 id="logo"><a href="/">Стены стерпят</a></h1>
		<h2>Невыносимо крутые плакаты!</h2>
		<ul id="links">
			<li class="vk icon">ВКонтакте: <a href="#" title="ВКонтакте: wallsneverblush">wallsneverblush</a></li>
			<li class="instagram icon">Instagram: <a href="#" title="Instagram: wallsneverblush">wallsneverblush</a></li>
			<li class="twitter icon">Twitter: <a href="#" title="Twitter: wallsneverblush">wallsneverblush</a></li>
			<li><a href="#">про нас</a></li>
			<li><a href="#">про доставку и оплату</a></li>
		</ul>
		<% if @safemode_visible %>
			<label class="toggle" title="Включите, чтобы спрятать всяческую непристойность">
				Безопасный режим<input type="checkbox" id="safemode" /><span><b></b></span>
			</label>
		<% end %>
	</div>
	<hr />
</header>
