<!doctype html>
<html lang="ru-ru">
<head>
	<title>Стены стерпят — невыносимо крутые плакаты!</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='css/main.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/showcase.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/item_page.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/cart.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/dropkick.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/dk_theme.css' type='text/css' media='all' />
	
<!--[if !IE 7]>
	<style type="text/css">
		#wrapper {display:table;height:100%}
	</style>
<![endif]-->
	
</head>
<body class="long-page">

	<div id="wrapper">
		<header>
			<div class="page">
				<h1 id="logo"><a href="#">Стены стерпят</a></h1>
				<h2>Невыносимо крутые плакаты!</h2>
				<ul id="links">
					<li class="vk icon">ВКонтакте: <a href="#" title="ВКонтакте: wallsneverblush">wallsneverblush</a></li>
					<li class="instagram icon">Instagram: <a href="#" title="Instagram: wallsneverblush">wallsneverblush</a></li>
					<li class="twitter icon">Twitter: <a href="#" title="Twitter: wallsneverblush">wallsneverblush</a></li>
					<li><a href="#">про нас</a></li>
					<li><a href="#">про доставку и оплату</a></li>
				</ul>
				<label class="toggle" title="Включите, чтобы спрятать всяческую непристойность">
					Безопасный режим<input type='checkbox'/><span><b></b></span>
				</label>
			</div>
			<hr />
		</header>
		
		<div class="page" id="nav">
		
			<div id="cart">
				<a class="navblock" href="#">
					<u>Корзина</u>
					<i id="cart-counter">пусто</i>
				</a>
				<a id="goto-checkout" href="#">Оформить заказ<b></b></a>
			</div>
			
			<div id="searchbox">
				<form id="search-form" class="navblock" action="">
					<label id="search" for="input-search">
						<input id="input-search" type="text" placeholder="Поиск плакатов..." tabindex="1">
					</label>
					<input id="go-search" type="submit" value="Найти" tabindex="2">
				</form>
				<a id="random-search" href="#">			
					<b></b><span>Что бы поискать?</span>
				</a>
			</div>
			
			<ul id="tags">
				<li class="back-to-top"><a><em class="arrow">↑</em> <u>Наверх</u> <em class="arrow">↑</em></a></li>
				
				<li class="supertag chosen"><a href="#"><u>Всё подряд</u> <i>241</i></a></li>
				<li class="supertag"><a href="#"><u>Новинки</u> <i>23</i></a></li>
				<li class="supertag"><a href="#"><u>Избранное</u> <i>67</i></a></li>
				
				<li class="divider"> </li>
				
				<li><a href="#"><u>Книги</u> <i>10</i></a></li>
				<li><a href="#"><u>Программирование</u> <i>13</i></a></li>
				<li><a href="#"><u>Математика</u> <i>6</i></a></li>
				<li><a href="#"><u>Фильмы</u> <i>21</i></a></li>
				<li><a href="#"><u>Космос</u> <i>32</i></a></li>
				<li><a href="#"><u>Игры</u> <i>23</i></a></li>
				<li><a href="#"><u>За рулем</u> <i>16</i></a></li>
				<li><a href="#"><u>Интернет</u> <i>17</i></a></li>
				<li><a href="#"><u>Apple</u> <i>21</i></a></li>
				<li><a href="#"><u>Девушки</u> <i>14</i></a></li>
				<li><a href="#"><u>Наука</u> <i>20</i></a></li>
			</ul>
			
		</div>

		<div class="page" id="page-title">
			<div id="page-icon-before"></div><img id="page-icon" src="img/icons/all.png" /><div id="page-icon-after"></div>
			<!--<h3>Корзина</h3>
			<h4><a href="#">« Вернуться к плакатам</a></h4>-->
			
			<h3>Все подряд</h3>
			<h4>У нас <strong>241 плакат</strong>, и мы постоянно придумываем новые!</h4>
			<div class="switch" id="sorting">
				<a href="#">по дате</a>
				<a href="#" class="chosen">загадочно</a>
				<a href="#">по популярности</a>
			</div>
		</div>
		
		<div id="showcase" class="page" style="text-align: center">
			<ul> 
				<!--<li class="item x1"><a href="#"><img src="img/posters/42.jpg" /><div class="item-info"><span>Ответ</span> <em>120 грн.</em></div></a></li>
				
				<li class="break" />-->
				<li class="item x2"><a href="#" tabindex="3"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/blue_portal.jpg" /><div class="item-info"><span>Кот и синий портал</span> <em>120 грн.</em></div></a></li>
				<li class="item x2"><a href="#" tabindex="4"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/orange_portal.jpg" /><div class="item-info"><span>Кот и оранжевый портал</span> <em>120 грн.</em></div></a></li>
				
				<li class="break" />
				<li class="item x3"><a href="#" tabindex="5"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/logo.jpg" /><div class="item-info"><span>Стены стерпят</span> <em>120 грн.</em></div></a></li>
				<li class="item x3"><a href="#" tabindex="6"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/42.jpg" /><div class="item-info"><span>Окончательный ответ</span> <em>120 грн.</em></div></a></li>
				<li class="item x3"><a href="#" tabindex="7"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/ku.jpg" /><div class="item-info"><span>У нас не кю</span> <em>120 грн.</em></div></a></li>
				
				<li class="break" />
				<li class="item x4"><a href="#" tabindex="8"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/ku.jpg" /><div class="item-info"><span>Оранжевый портал, длинная надпись</span> <em>120 грн.</em></div></a></li>
				<li class="item x4"><a href="#" tabindex="9"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/here.jpg" /><div class="item-info"><span>Я в рамках погрешности</span> <em>120 грн.</em></div></a></li>
				<li class="item x4"><a href="#" tabindex="10"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/42.jpg" /><div class="item-info"><span>Оранжевый портал, длинная надпись</span> <em>120 грн.</em></div></a></li>
				<li class="item x4"><a href="#" tabindex="11"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/synchrophasotrone.jpg" /><div class="item-info"><span>Оранжевый портал</span> <em>120 грн.</em></div></a></li>

				<li class="break" />
				<li class="item x4"><a href="#" tabindex="12"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/synchrophasotrone.jpg" /><div class="item-info"><span>Оранжевый портал</span> <em>120 грн.</em></div></a></li>
				<li class="item x4"><a href="#" tabindex="13"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/orange_portal.jpg" /><div class="item-info"><span>Оранжевый портал</span> <em>120 грн.</em></div></a></li>
				<li class="item x4"><a href="#" tabindex="14"><img class="lazy" src="img/posters/_.gif" data-original="img/posters/here.jpg" /><div class="item-info"><span>Где-то там</span> <em>120 грн.</em></div></a></li>
			</ul>
			
			<ul id="pagination">
				<li class="page-number"><a href="#">1</a></li>
				<li class="page-number"><a href="#">2</a></li>
				<li class="page-number chosen"><a href="#">3</a></li>
				<li class="page-number"><a href="#">4</a></li>
				<li class="page-number"><a href="#">5</a></li>
				<li class="page-number"><a href="#">6</a></li>
				<li>...</li>
				<li class="page-number"><a href="#">35</a></li>
			</ul>	
			<div id="pagination-buttons">
				<a href="#"><em class="arrow">←</em> Назад</a>
				<a href="#" tabindex="14">Дальше <em class="arrow">→</em></a>
			</div>
			
		</div>
		
		<div id="push"></div>
		
	</div>
	
	<footer>
		<span>И не переживайте. Стены всё стерпят.<br/>© 2013</span>
	</footer>
	
	<!------------ Script ------------>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
	
	<!-- Plugins -->
	<script src="js/jquery.lazyload.min.js" type="text/javascript"></script>
	<script src="js/jquery.dropkick-1.0.0.js" type="text/javascript"></script>
	
	<!-- Page script -->
	<script src="js/main.js" type="text/javascript"></script>
	
</body>
</html>