<div class="page" id="page-title">
	<div id="page-icon-before"></div><%= image_tag @tag.nil? || @tag.icon.empty? ? "icons/all.png" : "icons/#{@tag.icon}", :id => "page-icon" %><div id="page-icon-after"></div>
	<h3><%= "Вашему заказу присвоен уникальный порядковы номер: " + @id %></h3>
</div>
